body {
    margin: 0 auto;
}

.zone {
    font-style: 'Roboto', sans-serif;
    color: #e5e3e3;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    font-size: 0.7;

}
.fixed{
    position: fixed;
    width: 100%;
    height: 10%;
  
}

@media (max-width: 600px) {
    .nav-bar{
      font-size: 10px;
      padding: 0px;
      height: 40px;
    }

    .fixed{
        height: 40px;
        padding: 0px;
    }
  }

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.box {
    background: rgb(192, 21, 21);
    padding: 130px;
    margin: 20px;

}

.box > img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background: rgb(113, 174, 22);
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}
